<ion-view view-title="Select your clip on">
  <ion-content class="padding">
  <center>
    <h2>What click on do you like?</h2>
    <p>
    Based on your preferences we selected a set of fragnances for you
    </p>
      <div class="solution" ></div>
  </center>
    <span class="next"><a ui-sref="tab.order">Get it!</a></span>
  </ion-content>
</ion-view>
