<ion-view view-title="We've got what you need">
  <ion-content class="padding">
  <center>
    <h2>Your fregnances</h2>
    <p>
    Based on your preferences we selected a set of ingredients for you
    </p>
      <div class="solution" ></div>
      <div class="nameit">
        Give it a name...
        <input type="text" placeholder="Name your personalized scent..." class="nameit">
      </div>
  </center>
    <span class="next"><a ui-sref="tab.container">Get it!</a></span>
  </ion-content>
</ion-view>
