<ion-view view-title="Lifestyle">
  <ion-content class="padding">
    <h2>Define your fragnance...</h2>
    <p>
    What's your lifestyle?
    </p>
    <ion-gallery ion-gallery-items="items" ion-item-callback="addToSelected(item)" ion-gallery-row="4"></ion-gallery>
    <span class="next"><a ui-sref="tab.select2">Next...</a></span>
  </ion-content>
</ion-view>
