<ion-view view-title="Physical activities">
  <ion-content class="padding">
    <h2>Define your fragnance...</h2>
    <p>
    How do you like to move?
    </p>
    <ion-gallery ion-gallery-items="items" ion-item-callback="addToSelected(item)" ion-gallery-row="4"></ion-gallery>
    <span class="next"><a ui-sref="tab.select4">Next...</a></span>
  </ion-content>
</ion-view>
