<ion-view view-title="Flavours">
  <ion-content class="padding">
    <h2>Define your fragnance...</h2>
    <p>
    What flavours do you like?
    </p>
    <ion-gallery ion-gallery-items="items" ion-item-callback="addToSelected(item)" ion-gallery-row="4"></ion-gallery>
    <span class="next end"><a ui-sref="tab.solution">That's it!</a></span>
  </ion-content>
</ion-view>
