/* Empty. Add your own CSS if you like */
span.next {
  display: block;
  width: 100%;
  margin: 20px auto;
  text-align:center;
  font-size: 1.4em;
  color: #8fcc52 !important;
}
h2 {
  color: #555;
}
.next a {
  text-decoration: none;
}
.next.end {
  font-size: 1.7em;
  text-transform: uppercase;
}

.nameit {
  margin-top: 5vh;
  padding-top:5vh;
  border-top: 1px solid #8fcc52;
}
.nameit input {
  border-radius: 10px;
  border: 1px solid #8fcc52;
  font-size:0.9em;
  width: 50vw;
}
.gallery-view .image-container {
  border: 5px solid #FFF;
  padding-right:1px;
}


.gallery-view .image-container .selected {
  border-color: #c0f8ff;
}

.solution {
  background-image:url(../img/additional/scence_intensitity.png);
  height:60vh;
  background-color: #fff;
  width:100%;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bar.bar-stable {
  background-color: #8fcc52;

}
.bar.bar-stable .title {
    color: #fff!important;
}
